
/*--------------------------Estilo General------------------------*/
@font-face {
    font-family: Roboto-Regular;
    src: url(./assets/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: MetalMania-Regular;
    src: url(./assets/fonts/MetalMania-Regular.ttf);
}

body{
    font-family:Roboto-Regular;
    background-color: rgba(44, 44, 44, 255);
    
}

h1{
    font-family: MetalMania-Regular;
    src: url(./assets/fonts/MetalMania-Regular.ttf);
}

.background-gradient{
    background: rgb(40,28,55);
    background: linear-gradient(90deg, rgba(40,28,55,1) 10%, rgba(120,21,113,1) 53%, rgba(16,1,37,1) 88%);
}



/*-----------------------------------------------------------------*/




/*-------------Estilo NavBar------------------*/

.metal-navbar{
    display: flex;
    justify-content: center;
}
#nav-button{
    color: #f0f8ff;
}

.metal-navbar a {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size:1.5rem;
    text-decoration: none !important;
    color: #f0f8ff;
    font-family: MetalMania-Regular;
}
.metal-navbar a :hover {

}

.background-gradient .navbar-toggler {
    color: rgba(255, 255, 255, 0.992);
    border-color: rgba(255, 255, 255, 0.968);
}

.background-gradient .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

/*-------------------------------------------*/

/* --------Contenedor Seccion 1-------------- */
#contenedorSeccion1{
    padding-top: 50px;
}


/*-------Estilo Seccion 1------------------*/
/* .seccion-1
{
    background-color: rgba(44, 44, 44, 255);

} */
.img-seccion-1
{
    width: 305px;
    height: 100px;
}
.seccion-1 
{
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.seccion-1 h1 
{
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: MetalMania-Regular;
}

/*-------------------------------------------*/

/*--------Estilo Aside---------------------*/
@media only screen and (min-width: 1200px) {
#columnaAside{
    margin-left: 40px;
    margin-top: 60px;
    width: 330px; 
}
}


#lanzamientos{
    background-color: black;
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
    border: 1px solid white;
    border-radius: .8%;

}

#lanzamientos h2{
    text-align: center;
    color: white;
    font-size: 25px;
    font-family:MetalMania-Regular;
}

.contenidoLanzamientos a .row{
    box-sizing: content-box;
    height: 80px;
    background-color: rgba(44, 44, 44, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    color: white;
    border-radius: .8%;
    transition: color .3s linear, transform .2s linear, border .5s linear;
}

.contenidoLanzamientos a .row:hover{
    color: blueviolet;
    transform: scale(1.1);
    border: .5px solid blueviolet;
}

.contenidoLanzamientos a{
    text-decoration: none;
}

.contenidoLanzamientos img{
    width: 80px;
}

.contenidoLanzamientos .col-9{
    padding-left: 35px;
    padding-top: 5px;

}



.contenidoLanzamientos h3{
    font-size: 18px;
    overflow: hidden;
    font-weight: bold;
}


@media only screen and (max-width: 1199.9px) {
    .contenidoLanzamientos a .row{
        height: auto;
    }

    .contenidoLanzamientos img{
        width: 100%;
        height: auto;
    }
    .contenidoLanzamientos .col-3{
        max-width: 185px;
    }

    .contenidoLanzamientos .col-9{
         padding: 0px;
         padding-top: 7px;
    }
}

/*------------------------------------------------*/

/*--------Estilo Footer---------------------*/


/*------------------------------------------------*/


